* {
  margin: 0;
  padding: 0;
}

nav {
  align-items: center;
  background-color: #209EDB;
  color: #FFF;
  display: flex;
  font-size: 1.5vw;
  flex-direction: row;
  height: 10vh;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 100;
}

h1 {
  font-family: 'Amaranth', sans-serif;
  margin-left: 10px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  width: 40%;
}

a {
  border-bottom: 4px solid #209EDB;
  color: #FFF;
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
  text-decoration: none;
}

a:hover {
  border-bottom: 4px solid #FFF;
}

.dashboard-header {
  background-color: rgba(255, 255, 255, .35);
  grid-area: header;
}

.dashboard-header a {
  border-bottom: none;
}

.dashboard-header a:hover {
  border-bottom: solid 2px #FFF;
  display: inline;
  padding-bottom: 3px;
}
