.category-section {
  background-color: #F2F4F4;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  width: 100%;
}

.section-header {
  font-family: 'Titillium Web';
  font-size: 2vw;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.category-section article {
  width: 55%;
}

.reverse {
  flex-direction: row-reverse;
}

.reverse .section-btn {
  align-self: flex-start;
}

.footer {
  background-color: #656A72;
  color: #FFF;
  justify-content: center;
}

.section-desc {
  font-size: 14px;
  font-weight: 300;
  padding: 10px 20px 20px 20px;
}

.section-btn {
  background-color: #209EDB;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  color: #FFF;
  font-family: 'Titillium Web';
  font-size: 16px;
  height: 40px;
  margin-left: 10px;
  outline: none;
  padding: 0;
  width: 15vw;
}

.section-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  display: flex;
  height: 50vh;
  width: 500px;
}

.footer article {
  padding: 20px;
  text-align: center;
  width: 65%;
}

.footer .section-header {
  font-size: 3vw;
  padding: 0;
}

.footer .section-desc {
  padding: 20px 0;
}

.reverse .section-image {
  background-image: url('../../../src/Section/assets/searching-for-jobs.jpg');
}

.last .section-image {
  background-image: url('../../../src/Section/assets/meetups.jpg');
}

.footer .section-image {
  display: none;
}

.footer .section-btn {
  background-color: #FFF;
  color: #209EDB;
  margin: 5px 0px 10px 0px;
}
